
Forms
<div class="container-fluid">
<form #userform="ngForm" class="form-group"><!--ngForm is a directive for form control and here it is accessed by template reference 'userform'-->
{{userform.value|json}}<br>
{{usermodel|json}}<br>
  Name:<input type="text"  name="name"  [(ngModel)]="usermodel.name" #name="ngModel" [class.is-invalid]="name.touched && name.invalid">
                                                                                <!--bootsrap class(invalid) you can create your own custom classes-->
  <!--use ngModel properties for validation and purposes.First create reference variable and then point it to ngModel to get access to proprties(refer book)-->
<br>
Email:<input type="email" name="email" [(ngModel)]="usermodel.email">
<br>
<div ngModelGroup="address"><!--for grouping values into one-->
  <input type="text" name="city" [(ngModel)]="usermodel.address.city"> city
  <br>
  <input type="text" name="pincode" [(ngModel)]="usermodel.address.pincode">pincode

</div>
Preference:<select name="preference" [(ngModel)]="usermodel.preference">
<option *ngFor="let course of courses">{{course}}</option>  



</select>
<br>
Gender:
<input type="radio" name="gender" [(ngModel)]="usermodel.gender"  value="male">Male
<input type="radio" name="gender"   [(ngModel)]="usermodel.gender" value="female">Female
<br>
<input type="checkbox" name="subscribe" >subscribe



<button type="submit" (click)="onClick()" >Submit</button>
</form>

</div>
<hr bold>
<div class="container">
<div class="container-fluid" >
<h1>Form with bootstrap inbuilt validation classes and visual feedback and Error display(bootstrap plus using ng model</h1>
<h2>Select control validation</h2>  
<form #newform="ngForm" novalidate (ngSubmit)="onSubmit()">
    {{newform.value|json}}<br>
      {{user|json}}<br>
      <hr>
      form is valid ?-->{{newform.form.valid}}<!--to check form is valid-->
      <hr>
    <div class="form-group">
      <label for="name_id">Name</label>
        <input type="text" id="name_id" class="form-control" required name="name"  [(ngModel)]="user.name" #name_ref="ngModel" [class.is-invalid]="name_ref.touched && name_ref.invalid">
      <small class="text-danger" [class.d-none]="name_ref.untouched || name_ref.valid">Name is required</small>
    
      </div>

    <div class="form-group">
      <label for="email_id">Email</label>
      <input type="email" name="email" [(ngModel)]="user.email"  required id="email_id" class="form-control" #email_ref="ngModel" [class.is-invalid]="email_ref.touched && email_ref.invalid">


    </div>
    <div ngModelGroup="address">
    <div class="form-group">
      <label for="city_id">City</label>
      <input type="text" class="form-control" id="city_id" name="city" [(ngModel)]="user.address.city" required #city_ref="ngModel" [class.is-invalid]="city_ref.touched && city_ref.invalid"> 


    </div>

    <div class="form-group">
      <label for="pincode_id">Pincode</label>
      <input type="text" class="form-control" id="pincode_id" pattern="^[1-9][0-9]{5}$" name="pincode" [(ngModel)]="user.address.pincode" required #pincode_ref="ngModel" [class.is-invalid]="pincode_ref.touched && pincode_ref.invalid">
    <div *ngIf="pincode_ref.errors && pincode_ref.touched">
      <small class="text-danger" *ngIf="pincode_ref.errors.required">Pincode is required</small>
      <small class="text-danger" *ngIf="pincode_ref.errors.pattern">Pincode must be of six digits starting with [1-9]</small>

    </div>
    </div>
    </div>

    <div class="form-group">
      <label for="preference_id">Preference</label>
        <select [class.is-invalid]="pref.touched && pref.invalid" required #pref="ngModel" name="preference" class="form-control" id="preference_id" [(ngModel)]="user.preference" >
          <option *ngFor="let course of courses">{{course}}</option> 
        </select>
        <small class="text-danger" [class.d-none]="pref.valid || pref.untouched">preference is required</small>
    </div>

    
    <div class="form-group">
      <label for="gender_id">Gender:</label>
      <input type="radio" name="gender" id="gender_id" [(ngModel)]="user.gender"  value="male" required >Male
      <input type="radio" name="gender" id="gender_id" [(ngModel)]="user.gender" value="female" required>Female
    </div>
    
    
    
    <button [disabled]="newform.form.invalid" class="btn btn-primary" type="submit" >Submit</button>
    </form>

</div>
</div>
<hr>
